@model IEnumerable<BlogApp.Models.Publication>

@{
    //Layout = null;
    Publication lastPub = ViewBag.LastPublication;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Lista de Publicaciones</title>
</head>
<body>
    <p>
        <a asp-action="Create" class="btn btn-primary">Crear nuevo</a>
    </p>
    @foreach (var pub in Model)
    {

        if (lastPub.Id == pub.Id)
        {
            <div class="jumbotron">
                <h4>@pub.Title <span class="badge badge-secondary">Nuevo</span> </h4>
                <p class="lead">@pub.Content</p>
                <hr class="my-4">
                <p class="ml-auto">Creado: @pub.DateTime</p>
                <div>
                    <a asp-action="Edit" asp-route-id="@pub.Id" class="btn btn-warning">Editar</a> |
                    <a asp-action="Details" asp-route-id="@pub.Id" class="btn btn-info">Detalle</a> |
                    <a asp-action="Delete" asp-route-id="@pub.Id" class="btn btn-danger">Eliminar</a>
                </div>
            </div>
        }
        else
        {
            <div class="jumbotron">
                <h4>@pub.Title  </h4>
                <p class="lead">@pub.Content</p>
                <hr class="my-4">
                <p class="ml-auto">Creado: @pub.DateTime</p>
                <div>
                    <a asp-action="Edit" asp-route-id="@pub.Id" class="btn btn-warning">Editar</a> |
                    <a asp-action="Details" asp-route-id="@pub.Id" class="btn btn-info">Detalle</a> |
                    <a asp-action="Delete" asp-route-id="@pub.Id" class="btn btn-danger">Eliminar</a>
                </div>
            </div>
        }


    }


</body>
</html>
